@import "~semantic-ui-css/semantic.css";

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Header {
  .brand {
    color: #2E2F48 !important;
    // color: #BF3846 !important;
    padding: 7px 15px !important;
    .logo {
      height: 24px;
      width: auto !important;
      margin-right: 8px !important;
    }
  }
}

.Navigation {
  margin: 20px 15px;
  float: left;
  .ui.menu {
    width: 220px !important;
  }
}

.Home {

}

.Calculator {
  max-width: 700px;
  .prompt {
    width: 300px;
    border-radius: 4px !important;
  }
}

.CalculatorSearch {
  .results {
    max-height: 289px;
    overflow: hidden;
    .result {
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.FoodList {
  .react-bs-container-header .table {
    margin-bottom: 10px;
  }
  .react-bs-container-body .table {
    margin-bottom: 0;
  }

  .sort-column {
    cursor: default;
  }
}

.MealList {
  &--actions {
    width: 50px;
  }

  .red.remove.icon {
    display: none;
    cursor: pointer;
  }

  tr:hover {
    .red.remove.icon {
      display: inline-block;
    }
  }
}
